@font-face {
  font-family: 'Quiche-Bold';
  src: url('../fonts/Quiche/QuicheSansBold.woff2') format('woff2'), url('../fonts/Quiche/QuicheSansBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quiche-ExtraBold';
  src: url('../fonts/Quiche/QuicheSansExtraBoldRegular.woff2') format('woff2'), url('../fonts/Quiche/QuicheSansExtraBoldRegular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'), url('../fonts/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Semibold';
  src: url('../fonts/Montserrat/Montserrat-Semibold.woff') format('woff'), url('../fonts/Montserrat/Montserrat-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Caveat-Bold';
  src: url('../fonts/Caveat/Caveat-Bold.woff2') format('woff2'), url('../fonts/Caveat/Caveat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Caveat-SemiBold';
  src: url('../fonts/Caveat/Caveat-SemiBold.woff2') format('woff2'), url('../fonts/Caveat/Caveat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
}
a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.wrapper.bottom-header .brand-wrap {
  width: 20%;
}
.header .bottom-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background: linear-gradient(to right, #fff, #fff);
  z-index: 99;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header.fixed .bottom-header {
  width: 100%;
  background: #fff;
  -webkit-transform: translate(0, -120%);
  transform: translate(0, -120%);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.brand {
  max-height: 55px;
  display: block;
}
.wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-column-gap: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 2rem;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
}
ul.menu {
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 992px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar.active {
    left: 0rem;
    opacity: 1;
    visibility: visible;
  }
}
.menu-item {
  position: relative;
  display: inline-block;
  margin-left: 1.75rem;
}
.menu-item .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-column-gap: 0.25rem;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  font-family: inherit;
  font-size: 0.9rem;
  line-height: inherit;
  cursor: pointer;
  text-transform: capitalize;
  color: #151515;
  font-family: 'Montserrat-Medium';
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-item .menu-link.chevron:after {
  content: "\ea17";
  font-family: boxicons;
  display: inline-block;
  width: 1.3em;
  color: #151515;
  font-size: 18px;
  vertical-align: middle;
  text-indent: -2px;
}
.menu-item .menu-link:hover {
  outline: none;
  color: #ffd700;
  text-decoration: none;
}
.menu-item .menu-link:hover.chevron:after {
  color: #ffd700;
}
.menu-item.active a {
  color: #ffd700;
}
.fixed .bottom-header .menu-link {
  color: #141414;
}
.fixed .bottom-header .menu-link.chevron:after {
  color: #141414;
}
.fixed .bottom-header .burger-line {
  background: #1E1F22;
}
@media only screen and (min-width: 993px) {
  .menu-dropdown:hover > .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media only screen and (max-width: 992px) {
  .menu {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  .menu-item {
    display: block;
    margin: 0 auto;
  }
  .menu-link {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.5rem 1.25rem;
  }
}
.submenu {
  position: absolute;
  top: 2.35rem;
  left: -2rem;
  min-width: 13rem;
  height: auto;
  padding: 0 1rem 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 2px solid #e51e61;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.submenu-item {
  display: block;
  margin-top: 0.75rem;
}
.submenu-link {
  font-size: 0.9rem;
  font-family: 'Montserrat-Medium';
  line-height: inherit;
  cursor: pointer;
  display: block;
  color: #030125;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.submenu-link:hover {
  outline: none;
  color: #ffdd03;
  text-decoration: none;
}
.burger {
  position: relative;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1.75rem;
  height: 1rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border: none;
  outline: none;
  background: #151515;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.top-header {
  background-color: #ffd700;
  padding: 10px 0px;
  width: 100%;
}
.top-header .top-list {
  padding: 0px;
  margin: 0px;
}
.top-header .top-list li {
  display: inline-block;
  padding-right: 10px;
  line-height: normal;
}
.top-header .top-list li a {
  color: #ebd6d6;
  font-size: 13px;
  padding-right: 15px;
  border-right: 1px solid #ebd6d6;
}
.top-header .top-list li a:hover {
  text-decoration: none;
  color: #fff;
}
.top-header .top-list li:last-child {
  padding-right: 0px;
}
.top-header .top-list li:last-child a {
  border: 0px;
  padding-right: 0px;
}
.top-header .top-list li .bx-common:before {
  color: #ebd6d6;
  font-size: 0.9rem;
  padding-right: 5px;
  vertical-align: middle;
  font-family: "boxicons" !important;
}
.top-header .top-list li .time {
  position: relative;
}
.top-header .top-list li .time::before {
  content: "\ee75";
}
.top-header .top-list li .envelop {
  position: relative;
}
.top-header .top-list li .envelop::before {
  content: "\ed53";
}
.top-header .top-list li .phone {
  position: relative;
}
.top-header .top-list li .phone::before {
  content: "\ee19";
}
.top-header .social-network {
  text-align: right;
}
.top-header .social-network li a i {
  font-size: 1rem;
}
.navbar .nav-menus-wrapper-close-button {
  width: 30px;
  height: 40px;
  margin: 10px 7px;
  display: none;
  color: #343a40;
  font-size: 26px;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .navbar.active .nav-menus-wrapper-close-button {
    display: block;
    width: 100%;
    text-align: right;
  }
  .wrapper.bottom-header .brand-wrap {
    width: 50%;
  }
  .top-header .social-network {
    text-align: left;
  }
  .top-header .top-list li a {
    border-right: 0px;
  }
  .submenu {
    position: relative;
    top: -0.5rem;
    left: 2.5rem;
    width: 100%;
    max-height: 0;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent;
  }
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
}
@media only screen and (max-width: 992px) {
  .overlay.active {
    pointer-events: none;
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .navbar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .menu-link {
    color: #333;
  }
  .menu-link.chevron:after {
    color: #333;
  }
}
@media only screen and (max-width: 448px) {
  .submenu-link {
    font-size: 0.9rem;
  }
}
